.produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 10px 10px;
}

.imagemProduto{
    width: 300px;
    max-width: 100%;
    
}

.imagemProduto:hover{
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 25%;

}

.preco{
    font-size: 20px;
    font-weight: bold;
}



.comprar{
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    margin:1vh 0;
    padding: 3%;
    border-radius: 10px;
}

.comprar:hover{
    font-size: 22px;
    text-decoration: underline 2px;
}

