.footer{
    display: flex;
    align-items: self-start;
    justify-content: space-around; 
    background-color: rgb(213, 213, 213);
}

.contato{
    text-align: center;
}

.localizacao{
    text-align: center;
}