.nome_logo{
    font-weight: bold;
    text-decoration: none;
    font-size: 40px;
    margin-left: 40px;
    color: #1c1c1d;
}

.nome_logo:hover{
    background-color: black;
    color: white;
    border-radius: 10px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:5px;
    margin-right: 5vw;
    max-width: 100%;
    font-size: 1em;
    
}

.categorias{
    display: flex;
    gap: 10px;
    list-style: none;
    
}
.categoria{
    text-decoration: none;
    background-color: #1c1c1d;
    padding: 3px 6px;
    color: white;
    border: none;
    border-radius: 10px;
}

.categoria:hover{
    background-color: white;
    color: black;
}


.input-pesquisa{
    width: 20vw;
    text-align: center;
    padding: 5px 10px;
    background-color: #1c1c1d;
    color: white;
    border: none;
    border-radius: 10px;
}

.botaologin{
    color: white;
    background-color: #1c1c1d;
    border: none;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 10px;
}

.botaologin:hover{
    background-color: white;
    color: black;
}