.header{
    font-size: 5vw;
    background-color: #722F37;
}

.nome_logo{
    font-weight: bold;
    text-decoration: none;
    font-size: 2em;
    color: #1c1c1d;
}

.nome_logo:hover{
    background-color: black;
    color: white;
    border-radius: 10px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:5px;
    margin: 5px;
    max-width: 100%;
    font-size: .4em;
    
}




.input-pesquisa{
    width: 40vw;
    text-align: center;
    padding: 5px 10px;
    background-color: #1c1c1d;
    color: white;
    border: none;
    border-radius: 10px;
}

.botaologin{
    color: white;
    font-size: .8em;
    background-color: #1c1c1d;
    border: none;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 10px;
}

.botaologin:hover{
    background-color: white;
    color: black;
}

@media screen and (max-width:480px) {
    .header{
        font-size: 8vw;
        padding:20px 0;
    }


}