.main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(202, 202, 202);
    max-width: 100%;
    min-height: 85vh;
    color: black;
    padding-bottom: 2vh;
}

