.main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c1c1d;
    max-width: 100%;
    min-height: 85vh;
    color: white;
    padding-bottom: 2vh;
}

